<h1>Nova Receita</h1>
<ul class="nav nav-pills nav-fill mt-3 mb-4">
    <li class="nav-item">
        <a class="nav-link" href="/"><i class="bi bi-journal-bookmark"></i> Sistema de Receitas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/sobre"> <i class="bi bi-info-circle"></i> Sobre</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/receita/cria"> <i class="bi bi-file-earmark-plus"></i> Nova Receita</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/tempo"><i class="bi bi-alarm"></i> Receitas por Tempo de Preparo</a>
    </li>
</ul>

<form method='POST' action='/receita/cria'>
    <div class="form-group">
        <p><label for="id">Identificação da Receita</label></p>
        <p><input class="form-control" type='number' required name='id' value="" size="30" /></p>
    </div>

    <div class="form-group">
        <p><label for="titulo">Título da Receita</label></p>
        <p><input class="form-control" type='text' required name='titulo' value="" size="60" /></p>
    </div>

    <div class="form-group">
        <p><label for="ingredientes">Ingredientes</label></p>
        <p><textarea class="form-control" rows="5" required cols="57" name='ingredientes'></textarea></p>
        <p>Digite cada ingrediente em uma nova linha</p>
    </div>

    <div class="form-group">
    <p><label for="modo">Modo de Preparo</label></p>
    <p><textarea class="form-control" rows="5" required cols="57" name='modo'></textarea></p>
    <p>Descreva passo a passo o modo de preparo</p>
    </div>

    <div class="form-group">
        <p><label for="tempo">Tempo de Preparo (minutos)</label></p>
        <p><input class="form-control" type='number' required name='tempo' value="" size="30" min="1" /></p>
    </div>

    <button type="submit" class="btn btn-primary"> <i class="bi bi-check-circle"></i> Salvar Receita</button>
    <a class="btn btn-secondary" href="/"> <i class="bi bi-arrow-return-left"></i> Voltar</a>
</form>