<h1>Sobre o Sistema de Receitas</h1>
<ul class="nav nav-pills nav-fill mt-3 mb-2">
     <li class="nav-item">
          <a class="nav-link" href="/"><i class="bi bi-journal-bookmark"></i> Sistema de Receitas</a>
     </li>
     <li class="nav-item">
          <a class="nav-link active" href="/sobre"> <i class="bi bi-info-circle"></i> Sobre</a>
     </li>
     <li class="nav-item">
          <a class="nav-link" href="/receita/cria"> <i class="bi bi-file-earmark-plus"></i> Nova Receita</a>
     </li>
     <li class="nav-item">
          <a class="nav-link" href="/tempo"><i class="bi bi-alarm"></i> Receitas por Tempo de Preparo</a>
     </li>
</ul>

<h3>Informações do Projeto</h3>
<p><b>Autor:</b> Rômulo Rodrigues Pereira</p>
<p><b>Data de Criação:</b> Junho de 2025</p>
<p><b>Disciplina:</b> Desenvolvimento Web II</p>

<h3>Objetivo da Aplicação</h3>
<p> Este sistema foi desenvolvido como parte da avaliação prática da disciplina de Desenvolvimento Web II.
     O Objetivo principal é criar uma aplicação web para gerenciamento de receitas culinárias, permitindo que os
     usuários possam:
</p>

<p>. Cadastrar novas receitas </p>
<p>. Visualizar receitas cadastradas</p>
<p>. Excluir receitas existentes</p>
<p>. Gerenciar ingredientes e modo de preparo</p>

<h3>Tecnologias Utilizadas</h3>
<p>. Node.js </p>
<p>. Express</p>
<p>. Handlebars (HBS)</p>
<p>. JavaScript</p>

<h3>Estrutura do Projeto</h3>
<p>A aplicação segue o padrão MVC (Model-View-Controller) e utiliza armazenamento em memória para gerenciar as receitas
</p>
<a class="btn btn-secondary" href="/"> <i class="bi bi-arrow-return-left"></i> Voltar</a>